#customer-feedback-summary-meta {
    .inside {
        padding: 0;
        margin: 0;
    }

    [name="customer-feedback-reset"] {
        margin: 14px;
    }
}

#customer-feedback-summary {
    box-sizing: border-box;
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;

    td {
        padding: 10px 14px;
    }

    tr + tr td {
        border-top: 1px solid #E5E5E5;
    }

    tr:first-child td {
        font-size: 1.2em;
        font-weight: bold;
    }
}
.grecaptcha-badge {
    visibility: hidden;
}

