#customer-feedback {
  position: relative; 
  overflow: hidden; 

  /* Loader */
  .customer-feedback-loader,
  .customer-feedback-loader:last-child {
    display: none;
  }

  .customer-feedback-loader,
  .customer-feedback-loader:last-child {
    opacity: 0.7;
    outline: 9999px solid #fff;
    background: #fff;
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: customerFeedbackPulse 1s linear infinite;
  }
  .customer-feedback-loader:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: customerFeedbackScaleUp 1s linear infinite;
  }

  /* Loader animation */
  @keyframes customerFeedbackScaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes customerFeedbackPulse {
    0% , 60% , 100%{ transform: translate(-50%, -50%) scale(1) }
    80% { transform: translate(-50%, -50%) scale(1.2)}
  }

  /* Feedback Sections */
  .customer-feedback-section {
    display: flex;
    flex-wrap: nowrap;

    .customer-feedback-section-icon > .c-icon {
      opacity: 0;
      animation: customerFeedbackIconDrop 0.75s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
    
    .customer-feedback-section-content {
      opacity: 0;
      animation: customerFeedbackContentSlide 0.75s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
  }

  .customer-feedback-section.u-display--none > * {
    opacity: 0;
  }

  .customer-feedback-section + .customer-feedback-section .customer-feedback-section-content {
    border-top: 1px solid var(--color-border, #0000000f);
  }

  .customer-feedback-section + .customer-feedback-section-borderless .customer-feedback-section-content,
  .customer-feedback-section + .customer-feedback-section-borderless .customer-feedback-section-icon {
    padding-top: 0;
    border-top: none;
  }

  .customer-feedback-section-icon {
    padding: calc(var(--base, 8px) * 2);
    background-color: #00000003;
    border-right: 1px solid var(--color-border, #0000000f);

    .c-icon {
      opacity: 0.5;
      margin-top: 0.15em;
    }
  }

  .customer-feedback-section-content {
    width: 100%;
    padding: calc(var(--base, 8px) * 2);
  }
}

@keyframes customerFeedbackIconDrop {
  0% {
    transform: translateX(calc(var(--base, 8px) * 1));
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.5;
  }
}

@keyframes customerFeedbackContentSlide {
  0% {
    transform: translateX(calc(var(--base, 8px) * 8));
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}